<h1>This is a list of fields</h1>
<h3>Farmer {{name}} has {{fields.length}} fields.</h3>
<table>
    {{#fields}}
    <tr>
        <td>{{location}}</td>
        <td>{{crop}}</td>
        <td>{{acres}}</td>
    </tr>
    {{/fields}}
</table>